body {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

main {
    margin-bottom: 10rem;
}

span {
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    cursor: default;
    display: inline-block;
    /* font-size: 2rem; */
    /* margin: 0.5rem; */
    /* position: relative; */
    /* transition: all 1s ease; */

    /* width: 2rem;
    border-bottom: 1px solid #eee;
    padding: 1rem; */
    /* width: 5rem; */
    /* height: 5rem; */
    /* margin: auto; */
    /* border: 1px solid #f0f0f0; */
    /* text-align: center; */
    /* vertical-align: middle; */
}

.toolbar {
    position: fixed;
    right: 0;
    top: 2rem;
}

button {
    background: black;
    border: none;
    color: white;
    padding: 1rem;
}

#emoji-string {
    /* margin: 0; */
}

/* Grid Layout */

/* #emoji-string[data-grid="true"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

#emoji-string[data-grid="true"] span {
    /* width: 5rem;
    height: 5rem;
    text-align: center; */
    margin: 0.25rem;
}

/* Size */

#emoji-string[data-size="0"] {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

#emoji-string[data-size="0"] {
    font-size: 0.5rem;
    /* line-height: 0.5; */
    /* vertical-align: top; */
    /* display: block; */
}

#emoji-string[data-size="1"] {
    font-size: 1rem;
}

#emoji-string[data-size="2"] {
    font-size: 2rem;
}

#emoji-string[data-size="3"] {
    font-size: 4rem;
}


.emoji-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

span:hover {
    /* transform: scale(2.5); */
    /* font-size: 5rem; */
    /* position: absolute; */
    /* position: relative; */
}



.meta {
    background: white;
    list-style-type: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0.75rem 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    display: flex;
    align-items: center;
}

.meta li {
    /* display: inline-block; */
    /* margin-bottom: 0.5rem; */
}

#meta-char {
    font-size: 4rem;
    margin-right: 1rem;
}