body {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}






button {
    /* background: black; */
    background: transparent;
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    outline: none;
    user-select: none;
}

button:active {
    filter: blur(5px);
}

i {
    cursor: default;
    display: inline-block;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    font-style: normal;
}

/*
 * Emoji dump
 */

#emojidump {
    font-size: 2rem;
    margin: 0.25rem 0 7rem 0;
    display: flex;
    flex-wrap: wrap;
}

/* #emojidump i {
    margin: 0.25rem;
} */

#emojidump i:active {
    filter: blur(5px);
}


/* Spacing */

#emojis[data-spacing="0"] span {
    margin: 0;
}
#emojis[data-spacing="1"] span {
    margin: 0.1em;
}
#emojis[data-spacing="2"] span {
    margin: 0.2em;
}
#emojis[data-spacing="3"] span {
    margin: 0.3em;
}
#emojis[data-spacing="4"] span {
    margin: 0.4em;
}
#emojis[data-spacing="5"] span {
    margin: 0.5em;
}
#emojis[data-spacing="6"] span {
    margin: 0.6em;
}
#emojis[data-spacing="7"] span {
    margin: 0.7em;
}
#emojis[data-spacing="8"] span {
    margin: 0.8em;
}
#emojis[data-spacing="9"] span {
    margin: 0.9em;
}
#emojis[data-spacing="10"] span {
    margin: 1em;
}



.details {
    align-items: center;
    background: white;

    display: flex;
    flex-direction: row;

    list-style-type: none;
    margin: 0;
    padding: 1rem 3rem 1rem 1rem;
    /* background: rgba(0, 0, 0, 0.75); */
    /* color: white; */


    /* border-image: linear-gradient(to right bottom, blue 49.5%, transparent 50%);
    border-top-width: 10rem;
    border-style: solid; */
}

footer {
    /* background: linear-gradient(to left top, white 49.5%, transparent 50%); */
    /* padding-top: 2.5rem;     */
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    /* clip-path: polygon(70% 0, 100% 0, 100% 100%, 0 100%); */
}

#meta-char {
    font-size: 4rem;
    margin-right: 1rem;
    user-select: all;
}

#meta-char::selection {
    background: white;
}

#meta-label {
}

.details .actions {
    /* margin-left: auto; */
    /* float: right; */
    position: absolute;
    right: 0;
}